# cp .env.example .env

OP_API_URL=https://address.ru/api/v3
OP_API_KEY=
TELEGRAM_TOKEN=

RKLLAMA_URL=http://localhost:11434
RKLLAMA_MODEL=qwen3-4b
RKLLAMA_THINKING=true
RKLLAMA_TEMPERATURE=0.7
RKLLAMA_MAX_NEW_TOKENS=4096